body {
    background-image: url(../images/background.png);
    background-size: cover;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.foto {
    border-radius: 50%;
    padding-right: 30px;
}

a:link.personal {
    color: rgb(218, 231, 218);
    background-color: rgb(48, 116, 148);
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border-radius: 60px;
}

a:hover.personal {
    color: rgb(65, 77, 65);
    background-color: rgb(237, 248, 253);
    text-decoration: underline;
}

a:active,
:visited {
    text-decoration: none;
    color: rgb(251, 255, 27);
}

table {
    border-collapse: collapse;
    border: 2px;
    margin: auto;
    margin-bottom: 20px;
    column-width: 70px;
}

th {
    background-color: #04AA6D;
    color: white;
}

h1.judul {
    font-weight: bold;
    font-size: xxx-large;
    position: sticky;
    top: 0;
    background-color: rgb(42, 124, 93);
}

.center {
    text-align: center;
}

div.intro {
    margin: 25px 50px;
    padding: 25px;
    background-color: rgb(135, 171, 184);
    border-style: solid;
    border-color: white;
}

div.biodata {
    background-color: rgba(0, 128, 128, 0.459);
    width: 900px;
    margin: auto;
    padding: 15px;
}

summary {
    background-color: rgb(135, 171, 184);
    margin: 20px;
}

div.ps {
    margin: 10px;
    padding-bottom: 15px;

}
